h1 {
	text-align: center;
	color: cadetblue;
}

h2 {
	padding-top: 50px;
}

.display {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

body {
	text-align: center;
}

body>* {
	margin: 0 auto;
}
